.listGroup {
    margin-top: 10px;
    border: 1px solid #CCC;
}

.listGroupItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
}

.listGroupItem:last-child {
    border-bottom: none
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.footer-left .checkbox {
    margin-right: 5px;
}


.footer-icp {
    color: rgb(116, 154, 227) !important;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-icp img {
    width: 16px;
    margin-right: 4px;
}